
.overlayPlan{
    display: flex;
    width: 42rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: 0.4375rem;
    border: 1px solid #5B5B5B;
    background: #000;
}

.content{
    display: flex;
    padding: 1.875rem 2.5rem 5rem 2.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    align-self: stretch;
}

.titles{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
}

.texts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch;
}

.plan{
    color: #E8E120;
    font-family: "DM Sans";
    font-size: 5.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5.625rem; /* 100% */
}

.velocity{
    color: #BBB;
    font-family: "DM Sans";
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem; /* 76.923% */
    letter-spacing: -0.065rem;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.8125rem;
    align-self: stretch;
}

.description{
    color: #FFF;
    text-align: justify;
    align-self: stretch;

    /* Body Large */
    font-family: "Nunito";
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.9375rem; /* 140.909% */
    letter-spacing: -0.0495rem;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.listItem{
    display: flex;
    padding: 0.625rem 0rem;
    align-items: center;
    gap: 0.3125rem;
}

.listTitle{
    display: flex;
    height: 0.75rem;
    flex-direction: column;
    justify-content: center;
    color: #FFF;

    font-family: "Nunito";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem; /* 185.714% */
    letter-spacing: -0.00006rem;
}

.button{
    display: flex;
    height: 3.875rem;
    padding: 1rem 0rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    background: linear-gradient(0deg, #E8E120 0%, #E8E120 100%);
    box-shadow: 3px 4px 10.5px 0px rgba(0, 0, 0, 0.45) inset;
}

.buttonSpan{
    color: #000;
    font-family: "DM Sans";
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem; /* 76.923% */
    letter-spacing: -0.065rem;
}