.hero{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    align-self: stretch;
    z-index: 1;
    position: relative;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.40) 50.14%, rgba(0, 0, 0, 0.40) 65.5%, #000 100%);
}

.heroContent{
    display: flex;
    height: 40.6875rem;
    align-items: center;
    gap: 5rem;
    z-index: 2;
    
}
.heroTitles{
    display: flex;
    width: 70rem;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    gap: 1.8rem;
}

.videoBox{
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.video{
    width: 100%;
    z-index: 0;
    height: 100%;
    object-fit: cover;
}



.heroDescription{
    text-align: center;
    width: 50rem;
}

.heroTitle{
    text-align: center;
    text-shadow: 0px 0px 5.8px rgba(255, 255, 255, 0.09);
    font-family: "BDSans";
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5.625rem; /* 93.75% */
    letter-spacing: -0.39rem;
    align-self: stretch;
    background: linear-gradient(180deg, #000 -12.97%, #636363 4.73%, #A8A8A8 29.79%, #FFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 12rem;
}

.plans{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    flex-shrink: 0;
    align-self: stretch;
    background: linear-gradient(180deg, #000 0%, #222406 52.5%, #000 98%);
    padding-bottom: 12rem;
}

.plansContent{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2.25rem;
    flex-wrap: wrap;
}

.plansFirstBox{
    display: flex;
    width: 30.8125rem;
    padding: 2.8125rem 2.375rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.1875rem;

}

.plansTitleBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.plansTitle{
    text-align: left;
    margin-left: -6px;
    color: #FFF;
    font-weight: 700;
    line-height: 4rem; /* 101.852% */
    letter-spacing: -0.10125rem;
}

.plansPlan{
    color: #FFF;
    /* Body Large */
    font-family: Nunito;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.1rem; /* 140.909% */
    letter-spacing: -0.0495rem;
}
.plansVelocity{
    color: rgba(255, 255, 255, 0.80);
    font-family: Nunito;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4375rem; /* 143.75% */
    letter-spacing: -0.01rem;
}


.plansSecondBox{
    display: flex;
    padding: 3.5rem 1.875rem;
    align-items: center;
}

.plansRow{
    display: flex;
    width: 16.875rem;
    flex-direction: column;
    align-items: flex-start;
}

.plansComponent{
    display: flex;
    height: 9.3rem;
    padding: 0.625rem 1.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch;
}

.plansComponentTitle{
    display: flex;
    padding: 0rem 0.4375rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
}

.plansComponentIcon{
    width: 1.25rem;
    height: 1.25rem;
}
.plansComponentDescription{
    text-align: left;
}

.condicao{
    color: #d3d600;
    font-size: 0.7rem;
    font-family: "DM Sans";
}


@media (max-width:720px) {
    .heroTitles{
        width: fit-content;
    }
    .heroTitle{
        font-size: 3rem;
        line-height: 3.625rem;
        text-align: left;
        height: fit-content;
        width:324px;
    }
    .heroContent{
        width: fit-content;
        padding: 0rem 1.875rem;
    }

    .heroDescription{
        width: fit-content;
        text-align: left;
    }

    .plansContent{
        display: flex;
        padding: 2rem 1.875rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.25rem;
        align-self: stretch;
    }
    .plansFirstBox{
        width: 100%;
        padding: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.9375rem;
        align-self: stretch;
        padding: 0rem;
    }
    .plansTitle{
        font-size: 3rem;
    }
    .plansSecondBox{
        flex-direction: column;
        padding: 0px;
    }
    .plans{
        gap: 8rem;
    }
    .plansRow{
        width: 80vw;
    }
}