.Contact{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    align-self: stretch;
    background-color: #000;
}

.Content{
    display: flex;
    width: 44.125rem;
    padding: 3.75rem 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    flex: 1 0 0;
}

.title{
    text-align: center;
    text-shadow: 0px 0px 5.8px rgba(255, 255, 255, 0.09);
    /* H2 */
    font-family: "BDSans";
    font-size: 5rem;
    height: 9rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem; /* 101.852% */
    letter-spacing: -0.10125rem;
    background: linear-gradient(180deg, #000 -12.97%, #636363 4.73%, #A8A8A8 29.79%, #FFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social{
    display: flex;
    align-items: flex-start;
    gap: 1.25rem;
}

.socialIcon{
    width: 1.625rem;
    cursor: pointer;
    height: 1.625rem;
}

.description{
    color: #FFF;
    text-align: center;
    width: 35rem;

    /* Body Large */
    font-family: Nunito;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.9375rem; /* 140.909% */
    letter-spacing: -0.0495rem;
}

.Titles{
    display: flex;
    width: 38rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8125rem;
}

.Boxes{
    display: flex;
    width: 31.25rem;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4375rem;
    align-self: stretch;

    span{
        color: #FFF;

        /* Body Medium */
        font-family: Nunito;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4375rem; /* 143.75% */
        letter-spacing: -0.01rem;
    }

    input{
        display: flex;
        height: 1.8125rem;
        padding: 0.5rem;
        align-items: flex-start;
        gap: 0.625rem;
        align-self: stretch;
        border-radius: 0.5rem;
        border: 2px solid #FFF;
        background-color: #000;
        color: #ffffff;
    }

    textarea{
        display: flex;
        color: #ffffff;
        background-color: #000;
        height: 8.4375rem;
        padding: 0.625rem;
        align-items: flex-start;
        gap: 0.625rem;
        flex-shrink: 0;
        align-self: stretch;
        border-radius: 0.5rem;
        border: 2px solid #FFF;
    }
}


@media (max-width:720px) {
    .Contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.1875rem;
        height: fit-content;
    }
    .Titles{
        width: auto;
    }
    .title{
        height: auto;
        text-align: center;
        text-shadow: 0px 0px 5.8px rgba(255, 255, 255, 0.09);

        /* H2 */
        font-family: "BDSans";
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.4375rem; /* 101.852% */
        letter-spacing: -0.10125rem;
    }
    .Content{
        padding: 5rem 1.875rem;
        width: auto;
    }
    .Boxes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
        flex-shrink: 0;
        align-self: stretch;
        width: auto;
    }
    .box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        align-self: stretch;
    }
    .description{
        width: auto;
        /* Body Large */
    }
}