.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    position: relative;
}

.stack{
    overflow: hidden;
}

.video{
    width: 100vw;
    z-index: 0;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.logosDescription{
    color: #7A7A7A;
    text-align: center;
    display: flex;
    width: 15rem;
    height: 2.375rem;
    flex-direction: column;
    justify-content: center;
}

.logosCollection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.logoimage{
    height: 3rem;
}

.logos{
    display: flex;
    height: 13.0625rem;
    padding: 2.1875rem 5.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    align-self: stretch;
    background-color: #000;
}

.logosContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.375rem;
}

.heroDescription{
    color: #FFF;
    text-align: center;
    width: 39rem;
}

.heroContent{
    z-index: 1;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    align-self: stretch;
    background: linear-gradient(180deg, #000 -3.8%, rgba(0, 0, 0, 0.80) 21.55%, rgba(0, 0, 0, 0.60) 40.56%, rgba(0, 0, 0, 0.60) 70.41%, rgba(0, 0, 0, 0.60) 76.24%, rgba(25, 24, 0, 0.65) 93.62%);
}
.titleFirst{
    width: 80rem;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: "BDSans";
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5rem; /* 75.758% */
    letter-spacing: -0.4rem;

    span{
        font-size: 4.5rem;
    }
}

.titleFirst2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "BDSans";
    height: 15.625rem;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 10.3125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 7.8125rem; /* 75.758% */
    letter-spacing: -0.4rem;
}


// Inovation Section

.inovation{
    display: flex;
    padding: 7.5rem 2.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    background: black;
}

.inovationContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.125rem;
}

.inovationTexts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.inovationTitle{
    color: #E8E120;
    text-align: center;
    font-size: 3.375rem;
    line-height: 3rem;
}

.inovationDescription{
    color: #FFF;
    text-align: center;
    width: 33.4375rem;
}

.inovationCards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.works{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    background-color: #000;
    padding: 5rem 0rem;

}

.worksContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.75rem;
}

.worksTexts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.worksTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9375rem;
}

.worksTitle{
    color: #FFF;
    text-align: center;
    height: 7.6875rem;
    background: linear-gradient(180deg, #FFF 0%, #E1DE7B 79.5%, #E8E120 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.worksDescription{
    width: 33.4375rem;
    
    color: #FFF;
    text-align: center;
}

.worksCards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    flex-wrap: wrap;
}

.features{
    display: flex;
    padding: 6.25rem 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background: linear-gradient(180deg, #E8E120 93.2%, #E8E120 93.25%, #E7E020 93.4%, #E6DF20 93.63%, #E4DD1F 93.94%, #DFD91F 94.33%, #D9D31E 94.77%, #D0CA1D 95.26%, #C5BF1B 95.8%, #B6B019 96.37%, #A39E17 96.97%, #8D8813 97.58%, #716E10 98.2%, #514F0B 98.81%, #2B2A06 99.42%, #000 100%);
}

.featuresContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5rem;
    
}

.featuresTitle{
    width: 21.625rem;
    color: #000000;
}

.featuresBoxesLines{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.75rem;
}

.featuresBoxesCollumns{
    display: flex;
    width: 20.125rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    align-self: stretch;
}

.plans{
    display: flex;
    padding: 150px 0px;
    flex-direction: column;
    align-items: center;
    gap: 75px;
    align-self: stretch;
    background: radial-gradient(121.66% 52.68% at 50% 58.74%, #302E07 13%, #000 100%);
}

.plansTexts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}


.plansDescribe{
    width: 27.0625rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.plansTitle{
    text-align: center;
    background: linear-gradient(180deg, #FFF -33.06%, #DDDA7E 123.39%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    flex-direction: column;
    justify-content: center;
}

.plansDescription{
    text-align: center;
}

.plansBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.75rem;
}

.plansLines{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.75rem;
}

@media (max-width:720px) {

    .plansTitle{
        font-size: 4.6rem;
    }

    .plansLines{
        flex-direction: column;
        gap: 1rem;
    }
    .plansBox{
        gap: 1rem;
    }

    .plansDescribe{
        width: fit-content;
        padding: 0rem 2rem;
    }
    .titleFirst{
        color: #FFF;
        text-align: center;
        width: 100vw;

        /* H1 */
        font-family: "BDSans";
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.5rem; /* 100% */
        letter-spacing: -0.2rem;
        height: fit-content;
        span{
            font-size: 2.5rem;
        }
    }

    .titleFirst2{
        color: #FFF;
        text-align: center;
        width: 100vw;

        /* H1 */
        font-family: "BDSans";
        font-size: 4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3rem; /* 100% */
        letter-spacing: -0.4rem;
        height: fit-content;
    }

    

    .heroDescription{
        width: fit-content;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .logosCollection{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 5rem;
    }
    .logos{
        display: flex;
        height: fit-content;
        padding: 2.1875rem 5.5rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        flex-shrink: 0;
        align-self: stretch;
        background-color: #000;
    }

    .inovationDescription{
        color: #FFF;
        text-align: center;
        width: 22.3125rem;
    }
    .heroContent{
        z-index: 1;
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        align-self: stretch;
        background: linear-gradient(180deg, #000 -3.73%, rgba(0, 0, 0, 0.80) 21.68%, rgba(0, 0, 0, 0.60) 40.74%, rgba(0, 0, 0, 0.60) 76.74%, rgba(82, 80, 11, 0.74) 97.89%, #E8E120 108.5%);
    }
    .worksTitle{
        height: fit-content;
    }
    .worksDescription{
        width: 22.375rem;
    }
    .worksCards{
        display: flex;
        width: 22.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
    }

    .features{
        display: flex;
        padding: 4.75rem 0rem;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 2.5rem;
        align-self: stretch;
        flex-wrap: wrap;
    }

    .featuresContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        flex: 1 0 0;
    }

    .featuresBoxesLines{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 3.75rem;
    }

    .featuresBoxesCollumns{
        width: fit-content;
    }


    .featuresTitle{
        width: 21.625rem;
        text-align: center;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 2.4rem;
        letter-spacing: -0.10125rem;

    }
}