.buttonsample{
    display: flex;
    padding: 0.9375rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border-radius: 0.625rem;
    background: #FFF;
    transition: 0.5s ease-in-out;

    cursor: pointer;

}

.buttonsample:hover{
    background-color: #E8E120;
    span{
        color: black;
    }
}
