.hero{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    position: relative;
    height: 100vh;
    background: linear-gradient(180deg, #000 -3.8%, rgba(0, 0, 0, 0.80) 21.55%, rgba(0, 0, 0, 0.60) 40.56%, rgba(0, 0, 0, 0.60) 70.41%, rgba(0, 0, 0, 0.60) 76.24%, rgba(25, 24, 0, 0.65) 93.62%);

}

.logoup{
    width: 24.8125rem;
    height: 23.4375rem;
    
}

.heroContent{
    position: relative;
    display: flex;
    align-items: center;
    gap: 5rem;
    flex: 1 0 0;
    
}

.heroTexts{
    display: flex;
    width: 33rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.3125rem;
}

.heroTitle{
    align-self: stretch;
    background: linear-gradient(180deg, #000 -12.97%, #636363 4.73%, #A8A8A8 29.79%, #FFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ourValues{
    display: flex;
    padding: 10rem 0rem;
    justify-content: center;
    align-items: center;
    gap: 1.5625rem;
    align-self: stretch;
    background:#E8E120;
}

.lineBreak{
    background-color: #E8E120;
    width: 100vw;
    display: flex;
    align-content: center;
    align-items: center;
    height: 2.3px;
    justify-content: center;
    div{
        background-color: #3b3b3b;
        width: 80%;
        height: 2.3px;
        border-radius: 10rem;
    }
}

.videoBox{
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

.video{
    width: 100%;
    z-index: 0;
    height: 100vh;
    object-fit: cover;
}

.ourContents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
}

.ourTexts{
    display: flex;
    width: 26.3125rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.ourTitle{
    line-height: 4.5rem; /* 80% */
    color: #000;
}

.ourDescription{
    color: #000000;
    text-align: left;
}

.ourContainer{
    display: flex;
    padding: 3.125rem;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.ourRow{
    display: flex;
    width: 40.0625rem;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
}

.ourElement{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 0 0;
}

.ourElementTitle{
    display: flex;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;

    span{
        color: #000;
    }
}

.ourElementDescription{
    color: #000;
    text-align: left;
}

.porque{
    display: flex;
    padding: 6.25rem 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5.3125rem;
    align-self: stretch;
    background: #E8E120;
}

.porqueContent{
    display: flex;
    width: 65rem;
    align-items: center;
    gap: 3.375rem;
}

.porqueTitles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.875rem;
}

.porqueTitle{
    width: 28.3125rem;
    height: 10.8rem;
    /* H2 */
    font-family: "BDSans";
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.4375rem; /* 101.852% */
    letter-spacing: -0.10125rem;
    color: #000;
}

.porqueTitle2{
    width: 28.3125rem;
    height: 7rem;
    /* H2 */
    font-family: "BDSans";
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.4375rem; /* 101.852% */
    letter-spacing: -0.10125rem;
    color: #000;
}

.porqueDescription{
    color: #000000;
    text-align: left;
    /* Body Large */
    font-family: Nunito;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.9375rem; /* 140.909% */
    letter-spacing: -0.0495rem;
}

.porqueImage{
    width: 20rem;
    flex-shrink: 0;
}


.ourElementIconContainer{
    display: flex;
    padding: 1rem;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: 3.25rem;
    border: 1px solid #E8E120;
    background: #000000;

    svg{
        width: 1.75rem;
        height: 1.75rem;
    }
}

.ourElementIcon{
    width: 1.75rem;
    height: 1.75rem;
}


@media (min-width:720px){

    .family{
        display: flex;
        padding: 10rem 0rem;
        justify-content: center;
        align-items: center;
        gap: 1.5625rem;
        align-self: stretch;
        background: #E8E120;
    }
    .familyImage{
        width: 27rem;
        background-clip: cover;
        flex-shrink: 0;
        border-radius: 100%;
    }
    .familyContent{
        display: flex;
        width: 63rem;
        justify-content: center;
        align-items: center;
        gap: 9.6rem;
    }

    .familyComponentTitles{
        display: flex;
        align-items: center;
        gap: 0.625rem;

        span{
            color: #000;
        }
    }

    .familyIcon{
        width: 2.25rem;
        height: 2.25rem;
    }
    .familyTexts{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 1.5625rem;
    }
    .familyFirstBox{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.3rem;
    }
    .familySecondBox{
        display: flex;
        align-items: flex-start;
        gap: 0.9375rem;
        align-self: stretch;
    }
    .familyComponent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.75rem;
        flex: 1 0 0;
    }

    .familyComponentDesc{
        color: #000;
    }

    .familyTitle{
        font-size: 4rem;
        line-height: 4rem;
        margin-left: -5px;
        color: #000;
        height: 8.5rem;
    }

    .familyFirstBoxDescription{
        width: 28.125rem;
        color: #000;
    }
    .familyImageMobile{
        display:none;
    }

    .equipe{
        display: flex;
        padding-top: 5rem;
        padding-bottom: 15rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5.3125rem;
        align-self: stretch;
        background: linear-gradient(180deg, #000 0%, #252408 55.5%, #000 100%);
    }
    
    .equipeContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }
    
    .equipeTexts{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
    }
    
    .equipeTitles{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.9375rem;
    }
    
    .equipeTitle{
        width: 28rem;
    
        text-align: center;
    
        /* H2 */
        font-family: "BDSans";
        font-size: 3.375rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.4375rem; /* 101.852% */
        letter-spacing: -0.10125rem;
    
        background: linear-gradient(180deg, #FFF 0%, #E1DE7B 79.5%, #E8E120 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .equipeDescription{
        width: 33.4375rem;
        height: 6.1875rem;
        color: #FFF;
        text-align: center;
    
    }
    
    .equipeBox{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }
    .heroTitle{
        width: 30rem;
    }

}


@media (max-width:720px) {
    .ourValues{
        align-self: auto;
    }
    .ourContents{
        display: flex;
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2.5rem;
    }
    .ourContainer{
        display: flex;
        padding: 1.875rem;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        align-self: stretch;
    }
    .ourElementTitle{
        span{
            font-size: 1.125rem;
        }
        flex-direction: column;
        align-self: auto;
    }
    .ourDescription{
        text-align: center;
    }
    .ourElement{
        align-items: center;
    }
    .ourElementDescription{
        text-align: center;
    }

    .ourTexts{
        padding: 0rem 2rem;
        width: auto;
        align-items: center;
    }
    .ourTitle{
        font-size: 2.4rem;
        line-height: 2.4rem;
    }
    .ourRow{
        flex-direction: column;
        width: auto;
    }


    .hero{
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-self: stretch;
        overflow: hidden;
        position: relative;
    }

    .logoup{
        width: 24.8125rem;
        height: 23.4375rem;
        position: absolute;
        right: -12.4375rem;
        top: -6.25rem;
        opacity: 50%;
    }

    .ourElementIconContainer{
        display: flex;
        padding: 0.8rem;
        align-items: flex-start;
        gap: 0.625rem;
        border-radius: 3.25rem;
        border: 1px solid #E8E120;
        background: var(--Grey-08, #141414);

        svg{
            width: 1.75rem;
            height: 1.75rem;
        }
    }

    .porqueContent{
        flex-direction: column;
        width: auto;
        padding: 0px 30px;
    }
    .porqueDescription{
        width: auto;
        text-align: center;
        font-size: 1rem;
        line-height: 1.3rem;
    }

    .porqueDescription2{
        width: auto;
        text-align: center;
        font-size: 1rem;
        line-height: 1.3rem;
    }
    .porqueTitle{
        width: auto; 
    }
    .porqueTitle2{
        width: auto;
        height: 10rem; 
    }

    .ourValues{
        padding: 5rem 0rem;
    }

    .porqueImage{
        width: 15rem;
    }

    .heroContent{
        display: flex;
        padding: 0rem 1.875rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1.875rem;
        align-self: stretch;
        overflow: hidden;
    }

    .heroTitle{
        color: #FFF;
        font-family: "BDSans";
        font-size: 3.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.125rem; /* 78.125% */
        letter-spacing: 0rem;
        height: 10rem;

    }

    .heroTexts{
        width: 100%;
    }

    .family{
        display: flex;
        padding: 4.3125rem 0rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        align-self: stretch;
        background-color: #E8E120;
    }
    .familySecondBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.375rem;
        align-self: stretch;
    }
    .familyComponent{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5625rem;
        width: 80vw;
    }
    .familyComponentTitles{
        display: flex;
        align-items: center;
        gap: 0.625rem;

        span{
            color: #000;
        }

    }
    .familyTitle{
        color: #000;

        /* H2 */
        font-family: "BDSans";
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.4rem; /* 101.852% */
        letter-spacing: -0.10125rem;
        height: 5.3rem;
    }

    .familyTexts{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 3.25rem;
    }
    .familyContent{
        display: flex;
        padding: 0rem 1.875rem;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 1.875rem;
        align-self: stretch;
    }
    .familyIcon{
        width: 2.25rem;
        height: 2.25rem;
        flex-shrink: 0;
    }
    .familyFirstBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        align-self: stretch;
    }
    .familyComponentDesc{
        color: #000;
    }
    .familyFirstBoxDescription{
        color: #000000;
        text-align: justify;
        /* Body S */
        font-family: "Nunito";
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .familyImageMobile{
        width: 18.875rem;
        height: 13.6875rem;
    }
    .familyImage{
        display: none;
    }
    .equipe{
        display: flex;
        padding: 6.25rem 0rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5.3125rem;
        align-self: stretch;
        background: linear-gradient(180deg, #000 0%, #252408 55.5%, #000 100%);
    }
    
    .equipeContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
        align-self: stretch;
    }
    
    .equipeTexts{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
        align-self: stretch;
    }
    
    .equipeTitles{
        display: flex;
        padding: 0rem 1.875rem;
        flex-direction: column;
        align-items: center;
        gap: 0.9375rem;
        align-self: stretch;
    }
    
    .equipeTitle{
        align-self: stretch;
    
        text-align: center;
    
        /* H2 */
        font-family: "BDSans";
        font-size: 3.3rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.4375rem; /* 101.852% */
        letter-spacing: -0.10125rem;
    
        background: linear-gradient(180deg, #FFF 0%, #E1DE7B 79.5%, #E8E120 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .equipeDescription{
        color: #FFF;
        text-align: center;
        align-self: stretch;
    
    }
    
    .equipeBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5625rem;
    }
}