.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    background-color: #000;
    height: 100vh;
}

.logoup{
    width: 24.8125rem;
    height: 23.4375rem;
    
}

.heroContent{
    display: flex;
    align-items: center;
    gap: 5rem;
    flex: 1 0 0;
}

.heroTexts{
    display: flex;
    width: 33rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.3125rem;
}

.heroTitle{
    height: 11.5625rem;
    align-self: stretch;
    background: linear-gradient(180deg, #000 -12.97%, #636363 4.73%, #A8A8A8 29.79%, #FFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




@media (min-width:720px){
    .family{
        display: flex;
        padding: 10rem 0rem;
        justify-content: center;
        align-items: center;
        gap: 1.5625rem;
        align-self: stretch;
        background: #000;
    }
    .familyImage{
        width: 27.1875rem;
        height: 19.6875rem;
        flex-shrink: 0;
    }
    .familyContent{
        display: flex;
        width: 56.875rem;
        justify-content: center;
        align-items: center;
        gap: 1.5625rem;
    }

    .familyComponentTitles{
        display: flex;
        align-items: center;
        gap: 0.625rem;
    }

    .familyIcon{
        width: 2.25rem;
        height: 2.25rem;
    }
    .familyTexts{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 1.5625rem;
    }
    .familyFirstBox{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.625rem;
    }
    .familySecondBox{
        display: flex;
        align-items: flex-start;
        gap: 0.9375rem;
        align-self: stretch;
    }
    .familyComponent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.75rem;
        flex: 1 0 0;
    }

    .familyFirstBoxDescription{
        width: 28.125rem;
    }
    .familyImageMobile{
        display:none;
    }

    .equipe{
        display: flex;
        padding-top: 5rem;
        padding-bottom: 15rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5.3125rem;
        align-self: stretch;
        background: linear-gradient(180deg, #000 0%, #252408 55.5%, #000 100%);
    }
    
    .equipeContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }
    
    .equipeTexts{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
    }
    
    .equipeTitles{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.9375rem;
    }
    
    .equipeTitle{
        width: 22.75rem;
        height: 7.6875rem;
    
        text-align: center;
    
        /* H2 */
        font-family: "DM Sans";
        font-size: 3.375rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.4375rem; /* 101.852% */
        letter-spacing: -0.10125rem;
    
        background: linear-gradient(180deg, #FFF 0%, #E1DE7B 79.5%, #E8E120 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .equipeDescription{
        width: 33.4375rem;
        height: 6.1875rem;
        color: #FFF;
        text-align: center;
    
    }
    
    .equipeBox{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }
}


@media (max-width:720px) {
    .hero{
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-self: stretch;
        overflow: hidden;
        position: relative;
    }

    .logoup{
        width: 24.8125rem;
        height: 23.4375rem;
        position: absolute;
        right: -12.4375rem;
        top: -6.25rem;
        opacity: 50%;
    }

    .heroContent{
        display: flex;
        padding: 0rem 1.875rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1.875rem;
        align-self: stretch;
        overflow: hidden;
    }

    .heroTitle{
        color: #FFF;
        font-family: "DM Sans";
        font-size: 4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.125rem; /* 78.125% */
        letter-spacing: 0rem;
        height: auto;
    }

    .heroTexts{
        width: 100%;
    }

    .family{
        display: flex;
        padding: 4.3125rem 0rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        align-self: stretch;
        background-color: #000;
    }
    .familySecondBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.375rem;
        align-self: stretch;
    }
    .familyComponent{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5625rem;
        width: 80vw;
    }
    .familyComponentTitles{
        display: flex;
        align-items: center;
        gap: 0.625rem;

    }
    .familyTitle{
        color: #FFF;

        /* H2 */
        font-family: "DM Sans";
        font-size: 3.375rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.4375rem; /* 101.852% */
        letter-spacing: -0.10125rem;
    }

    .familyTexts{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 3.25rem;
    }
    .familyContent{
        display: flex;
        padding: 0rem 1.875rem;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 1.875rem;
        align-self: stretch;
    }
    .familyIcon{
        width: 2.25rem;
        height: 2.25rem;
        flex-shrink: 0;
    }
    .familyFirstBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.75rem;
        align-self: stretch;
    }
    .familyFirstBoxDescription{
        color: #FFF;
        text-align: justify;
        /* Body S */
        font-family: "Nunito";
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .familyImageMobile{
        width: 18.875rem;
        height: 13.6875rem;
    }
    .familyImage{
        display: none;
    }
    .equipe{
        display: flex;
        padding: 6.25rem 0rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5.3125rem;
        align-self: stretch;
        background: linear-gradient(180deg, #000 0%, #252408 55.5%, #000 100%);
    }
    
    .equipeContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
        align-self: stretch;
    }
    
    .equipeTexts{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
        align-self: stretch;
    }
    
    .equipeTitles{
        display: flex;
        padding: 0rem 1.875rem;
        flex-direction: column;
        align-items: center;
        gap: 0.9375rem;
        align-self: stretch;
    }
    
    .equipeTitle{
        align-self: stretch;
    
        text-align: center;
    
        /* H2 */
        font-family: "DM Sans";
        font-size: 3.375rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.4375rem; /* 101.852% */
        letter-spacing: -0.10125rem;
    
        background: linear-gradient(180deg, #FFF 0%, #E1DE7B 79.5%, #E8E120 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .equipeDescription{
        color: #FFF;
        text-align: center;
        align-self: stretch;
    
    }
    
    .equipeBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5625rem;
    }
}