.footer{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    background: #525252;

}

.footerContent{
    display: flex;
    height: 13rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding: 0rem 9rem;
}

.firstBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.socialMedia{
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}

.socialIcon{
    width: 35px;
    height: 35px;
}

.desc{
    color: #BCBCBC;
    font-family: "Nunito";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.leftBox{
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.desc2{
    width: 100%;
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: space-around;

    div{
        padding: 0rem 9rem;
        color: #BCBCBC;
        display: flex;
        gap: 2rem;
        align-items: center;
        width: 100%;
        height: 100%;
        font-family: "Nunito";
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        height: 4rem;
    }
}

.pin{
    width: 32px;
    height: 32px;
}

.linkBox{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.boxLinks{
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}
.linkSecond{
    font-family: Nunito;
    color: #FFF;
    font-weight: 600;
    font-size: 1rem;
}

.logo{
    width: 6.8rem;
    flex-shrink: 0;
}

.logoDesc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
}

.secondBox{
    display: flex;
    align-items: center;
    gap: 3rem;
    align-self: stretch;
}




.collumns{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;

    a{
        color: #7B7B7B;

        /* Body S */
        font-family: "Nunito";
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-style: normal;
        text-decoration: none
    }
}

.title{
    color: #FFF;
    /* Body S Bold */
    font-family: "Nunito";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mobile{
    display: none;
}

@media (max-width:720px) {
    .mobile{
        display: block;
    }
    .footer{
        display: flex;
        width: 100%;
        padding: 2.5rem 0rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        span{
            color: #808080;
            text-align: center;

            /* Body Small Tag */
            font-family: "Nunito";
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    .footerContent{
        display: none;
    }
    .desc2{
        display: none;
    }
}