.root {
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

html{
    margin: 0px;
    padding: 0px;
}

body{
    padding: 0px;
    margin: 0px;
}

.stack{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
}


@font-face {
    font-family: "DM Sans";
    src: url("./assets/fonts/DM_Sans/DMSans-VariableFont.ttf") format("truetype");
  }

@font-face {
    font-family: "Nunito";
    src: url("./assets/fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
  }

  @font-face {
    font-family: "BDSans";
    font-weight: 400; /* Normal */
    src: local("BDSans"),
      url("./assets/fonts/BDSans/BDSans-Regular.otf") format("opentype");
  }

  @font-face {
    font-family: "BDSans";
    font-weight: 300; /* Lighter */
    src: local("BDSans"),
      url("./assets/fonts/BDSans/BDSans-Thin.otf") format("opentype");
  }

  @font-face {
    font-family: "BDSans";
    font-weight: 900; /* Bolder */
    src: local("BDSans"),
      url("./assets/fonts/BDSans/BDSans-Black.otf") format("opentype");
  }

  @font-face {
    font-family: "BDSans";
    font-weight: 700; /* Bold */
    src: local("BDSans"),
      url("./assets/fonts/BDSans/BDSans-Bold.otf") format("opentype");
  }