.root {
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

html{
    margin: 0px;
    padding: 0px;
}

body{
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: "DM Sans";
    src: url("./assets/fonts/DM_Sans/DMSans-VariableFont.ttf") format("truetype");
  }

@font-face {
    font-family: "Nunito";
    src: url("./assets/fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
  }